.savingchip {
  height: 6vh;
  width: 6vh;
  position: absolute;
}

.black {
  background-color: #272B2E;
  box-shadow: 0px 2px 6px rgba(244, 245, 247);
}

.white {
  background-color: #F4F5F7;
  box-shadow: 0px 2px 6px #272B2E;
}